<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Year Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by year</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="price-all" (change)="applyYearFilter('all')">
                        <label class="custom-control-label" for="price-all">All Years</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-1" (change)="applyYearFilter('1940-1960')">
                        <label class="custom-control-label" for="price-1">1940 - 1960</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-2" (change)="applyYearFilter('1961-1980')">
                        <label class="custom-control-label" for="price-2">1961 - 1980</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-3" (change)="applyYearFilter('1981-2000')">
                        <label class="custom-control-label" for="price-3">1981 - 2000</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-4" (change)="applyYearFilter('2001-2010')">
                        <label class="custom-control-label" for="price-4">2001 - 2023</label>
                    </div>
                </form>
            </div>
            <!-- Year End -->

            <!-- Runtime Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Runtime</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="color-all" (change)="applyRuntimeFilter('all')">
                        <label class="custom-control-label" for="color-all">All Runtime</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-1" (change)="applyRuntimeFilter('120 - 140')">
                        <label class="custom-control-label" for="color-1">120 - 140</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-2" (change)="applyRuntimeFilter('141 - 160')">
                        <label class="custom-control-label" for="color-2">141 - 160</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-3" (change)="applyRuntimeFilter('161 - 180')">
                        <label class="custom-control-label" for="color-3">161 - 180</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-4" (change)="applyRuntimeFilter('181 - 200')">
                        <label class="custom-control-label" for="color-4">181 - 200</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" id="color-5" (change)="applyRuntimeFilter('201 - 220')">
                        <label class="custom-control-label" for="color-5">201 - 220</label>
                    </div>
                </form>
            </div>
            <!-- Runtime End -->

            <!-- imdbRating Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by imdbRating</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" (change)="applyIMDBRatingFilter('all')" checked id="size-all">
                        <label class="custom-control-label" for="size-all">All imdbRating</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" (change)="applyIMDBRatingFilter('8.6')" id="size-1">
                        <label class="custom-control-label" for="size-1">8.6</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" (change)="applyIMDBRatingFilter('8.7')" id="size-2">
                        <label class="custom-control-label" for="size-2">8.7</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" (change)="applyIMDBRatingFilter('8.8')" id="size-3">
                        <label class="custom-control-label" for="size-3">8.8</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" (change)="applyIMDBRatingFilter('8.9')" id="size-4">
                        <label class="custom-control-label" for="size-4">8.9</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" (change)="applyIMDBRatingFilter('>= 9.0')" id="size-5">
                        <label class="custom-control-label" for="size-5">>= 9.0</label>
                    </div>
                </form>
            </div>
            <!-- imdbRating End -->
        </div>
        <!-- Shop Sidebar End -->

        <!-- Pelicula Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="ml-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" (click)="handleSortClick('Year')">Year</button>
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" (click)="handleSortClick('Runtime')">Runtime</button>
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" (click)="handleSortClick('imdbRating')">imdbRating</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered">
                    <tbody>
                        <!-- Fila de encabezado -->
                        <tr>
                            <th colspan="4" class="text-center">Title</th>
                            <th colspan="4" class="text-center">Year</th>
                            <th colspan="4" class="text-center">Runtime</th>
                            <th colspan="4" class="text-center">imdbRating</th>
                            <th colspan="4" class="text-center">Rated</th>
                        </tr>
                        <!-- Fila de datos -->
                        @for (datum of data; track datum.imdbID) {
                            <tr>
                                <td colspan="4" class="text-center"><p>{{datum.Title}}</p></td>
                                <td colspan="4" class="text-center"><p>{{datum.Year}}</p></td>
                                <td colspan="4" class="text-center"><p>{{datum.Runtime}}</p></td>
                                <td colspan="4" class="text-center"><p>{{datum.imdbRating}}</p></td>
                                <td colspan="4" class="text-center"><p>{{datum.Rated}}</p></td>
                            </tr>
                        } @empty {
                            <tr>
                                <td colspan="4" class="text-center">Aún no hay datos</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <canvas id="canvas"></canvas>
            </div>
        </div>
        <!-- Pelicula End -->
    </div>
</div>
<!-- Shop End -->
