<div class="container-fluid">
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a href="" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">Movie</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Database</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
        </div>
        <div class="col-lg-4 col-6 text-right">
            <p class="m-0">Atención al Cliente</p>
            <h5 class="m-0">+593 99 407 9348</h5>
        </div>
    </div>
</div>