<!-- Carousel Start -->
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-7">
            <div class="product-offer mb-30" style="height: 430px;">
                <div class="offer-text">
                    <h3 class="text-white text-uppercase">Descripción del sitio</h3>
                    <p class="text-white text-center">
                        Este sitio web utiliza a la OMDb API para mostrar información sobre películas. Al inicio de cada
                        página, se presenta un
                        menú de navegación para acceder rápidamente a diferentes páginas y secciones. En la pestaña
                        "Inicio" se muestran los
                        campos del dataset y algunos registros de este en cuadrículas para mostrar póster, título, fecha
                        de lanzamiento,
                        director, tiempo de duración y categoría de la película. En la pestaña "Datos" se muestra una
                        tabla con
                        opciones para ordenar y filtrar las columnas Year, Runtime e imdbRating y debajo de esta se
                        muestran
                        gráficos para visualizar los datos. Por último, en la pestaña "Contacto" se muestra la
                        información de contacto y
                        un formulario para enviar comentarios o preguntas. En el pie de página se proporcionan enlaces a
                        políticas de
                        privacidad, términos de servicio, datos de copyright y atribuciones
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product-offer mb-30" style="height: 200px;">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">¿Qué es OMDb API?</h6>
                    <p class="text-white text-center mb-3">
                        OMDb API se refiere a la Open Movie Database Application Programming Interface (Interfaz de
                        Programación de Aplicaciones de la Base de Datos de Películas Abierta). La OMDb API es una API
                        gratuita y pública
                        que proporciona acceso a una extensa base de datos de información sobre películas y programas de
                        televisión.
                    </p>
                </div>
            </div>
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="assets/img/offer-1.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Características del Dataset</span>
    </h2>
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1" *ngFor="let atributo of getAtributos()">
            <a class="text-decoration-none" href="">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>{{ atributo }}</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Categories End -->


<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Películas
            Destacadas</span></h2>
    <div class="row px-xl-5">
        @for (datum of data; track datum.imdbID) {
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" [src]="datum.Poster" alt="{{ datum.Title }}">
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none" href="#">{{ datum.Title }}</a>
                    <p>Released: {{ datum.Released }}</p>
                    <p>Director: {{ datum.Director }}</p>
                    <p>Runtime: {{ datum.Runtime }}</p>
                    <p>Rated: {{ datum.Rated }}</p>
                </div>
            </div>
        </div>
        } @empty {
        <p>Aún no hay datos</p>
        }
    </div>
</div>
<!-- Products End -->